#{extends 'main.html' /}
#{set title: 'Email retrieval' /}
#{set subtitle: 'Please enter your pseudo and password.' /}
<form id="userform" action="@{forum.Users.showEmail}" method="POST" accept-charset="${_response_encoding}" role="form">
    <div class="form-group #{ifError 'pseudo'}has-error#{/ifError}">
        <label class="control-label" for="pseudo">Username #{error 'pseudo' /}</label>
        <input type="text" name="pseudo" class="form-control" placeholder="Username"/>
    </div>
    <div class="form-group #{ifError 'password'}has-error#{/ifError}">
        <label class="control-label" for="password">Password #{error 'password' /}</label>
        <input type="password" name="password" class="form-control" placeholder="Password"/>
    </div>
    <button type="submit" class="btn btn-info" >Show my email</button>
</form>