#{extends 'main.html' /}
#{set title: 'Password retrieval' /}
#{set subtitle: 'Please enter your email address.' /}
<form id="userform" action="@{forum.Users.sendPassword}" method="POST" accept-charset="${_response_encoding}" role="form">
    <div class="form-group #{ifError 'email'}has-error#{/ifError}">
        <label class="control-label" for="email">Email #{error 'email' /}</label>
        <input type="email" name="email" value="${flash.email}" class="form-control" placeholder="Email"/>
    </div>
    <button class="btn btn-info" type="submit">Reset my password</button>
</form>