#{extends 'main.html' /}

<h1 id="title">Password retrieval</h1>
<p class="light">
	Please enter your email address.
</p>

<form id="userform" action="@{forum.Users.sendPassword}" method="POST" accept-charset="${_response_encoding}">
	<p>
		<label for="email">Email - <span class="light">You will receive a new password.</span></label>
		<input type="text" name="email" value="${flash.email}" id="email" />
		<span class="error">#{error 'email' /}</span>
	</p>
	<p class="buttons">
		<input type="submit" value="Reset my password" />
	</p>	
</form>