#{extends 'main.html' /}
#{set title: 'Members' /}
#{set 'subtitle'}
#{pluralize size:nbUsers, word:'user' /}
#{/set}
#{pagination page:page ?: 1, size:nbUsers /}
<table class="table table-striped">
	<thead>
		<tr>
			<th class="main">User name</th>
			<th class="infos">Topics</th>
			<th class="infos">Posts</th>
			<th class="infos">Games</th>
		</tr>
	</thead>
	#{list items:users, as:'member'}
		<tr>
			<td class="main">
				<a href="@{forum.Users.show(member.id)}">${member.name}</a>
			</td>
			<td class="main">
				${member.topicsCount}
			</td>
			<td class="main">
				${member.postsCount}
			</td>
			<td class="infos">
				${member.gamesCount}
			</td>
		</tr>
	#{/list}
</table>
