#{extends 'main.html' /}
#{set title: 'My profile'/}
#{set subtitle: 'Update your user information' /}
<form id="userform" action="@{forum.Users.update}" method="POST" accept-charset="${_response_encoding}" role="form">
    <div class="form-group #{ifError 'password'}has-error#{/ifError}">
        <label class="control-label" for="password">Current password #{error 'password' /}</label>
        <input type="password" name="password" class="form-control" placeholder="Please enter your password."/>
    </div>
    <div class="form-group #{ifError 'email'}has-error#{/ifError}">
        <label class="control-label" for="email">Email, we will send you an email for confirmation. #{error 'email' /}</label>
        <input type="email" name="email" value="${user.email}" class="form-control" placeholder="New email"/>
    </div>
    <div class="form-group #{ifError 'email2'}has-error#{/ifError}">
        <label class="control-label" for="email2">Email confirmation #{error 'email2' /}</label>
        <input type="email" name="email2" value="${user.email}" class="form-control" placeholder="New email"/>
    </div>
    <div class="form-group #{ifError 'newPassword'}has-error#{/ifError}">
        <label class="control-label" for="newPassword">New password, it must be at least 5 character long. #{error 'newPassword' /}</label>
        <input type="password" name="newPassword" value="${flash.newPassword}" class="form-control" placeholder="New password"/>
    </div>
    <div class="form-group #{ifError 'newPassword2'}has-error#{/ifError}">
        <label class="control-label" for="newPassword2">New password confirmation #{error 'newPassword2' /}</label>
        <input type="password" name="newPassword2" value="${flash.newPassword2}" class="form-control" placeholder="New password"/>
    </div>
    <button type="submit" class="btn btn-info">Update</button>
</form>