#{extends 'main.html' /}
#{set title: user.name /}
#{set 'subtitle'}
#{pluralize size:user.gamesCount, word:'game' /}, #{pluralize size:user.postsCount, word:'post' /} in #{pluralize size:user.topicsCount, word:'topic' /}
#{/set}
<ol class="breadcrumb">
    <li><a href="@{forum.Users.index}">Members</a></li>
    <li class="active">#{get 'title'/}</li>
</ol>
#{if user.recentsGames}
    <h3>Recents games ...</h3>
    #{showRecentGames user.recentsGames/}
#{/if}
#{if user.recentsPosts}
	<h3>Recents posts ...</h3>

	#{list items:user.recentsPosts, as:'post'}
		#{showPost arg:post, showTopic:true /}
	#{/list}
#{/if}
