#{extends 'main.html' /}
#{set title: 'Signup' /}
#{set subtitle: 'Please enter your user informations' /}
<form id="userform" action="@{forum.Users.register}" method="POST" accept-charset="${_response_encoding}" role="form">
    <div class="form-group #{ifError 'email'}has-error#{/ifError}">
        <label class="control-label" for="email">Email, we will send you an email for confirmation. #{error 'email' /}</label>
        <input type="text" name="email" value="${flash.email}" id="email" class="form-control" placeholder="Email"/>
    </div>
    <div class="form-group #{ifError 'name'}has-error#{/ifError}">
        <label class="control-label">Display name. #{error 'name' /}</label>
        <input type="text" name="name" value="${flash.name}" id="name" class="form-control" placeholder="Name"/>
    </div>
    <div class="form-group #{ifError 'password'}has-error#{/ifError}">
        <label class="control-label">Password, it must be at least 5 character long. #{error 'password' /}</label>
        <input type="password" name="password" value="${flash.password}" id="password" class="form-control" placeholder="Password"/>
    </div>
    <div class="form-group #{ifError 'password2'}has-error#{/ifError}">
        <label class="control-label">Password confirmation #{error 'password2' /}</label>
        <input type="password" name="password2" value="${flash.password2}" id="password2" class="form-control" placeholder="Password"/>
    </div>
    <div class="form-group #{ifError 'code'}has-error#{/ifError}">
        <label class="control-label" for="code">Please type the code below: #{error 'code' /}</label>
        <img src="@{Application.captcha(uuid)}" /> <br />
        <input type="text" name="code" id="code" size="18" value="" class="form-control" placeholder="Code"/>
        <input type="hidden" name="uuid" value="${uuid}" />
    </div>
    <button type="submit" class="btn btn-primary">Signup</button>
</form>