#{extends 'main.html' /}
#{set title: 'New topic' /}
#{set 'subtitle'}
by ${connectedUser.name}
#{/set}
<ol class="breadcrumb">
    <li><a href="@{forum.Forums.index}">Forums</a></li>
    <li><a href="@{forum.Forums.show(forum.id)}">${forum.name}</a></li>
    <li class="active">#{get 'title'/}</li>
</ol>
<form id="post" action="@{forum.Topics.create(forum.id)}" method="POST" accept-charset="${_response_encoding}" role="form">
    <div class="form-group #{ifError 'subject'}has-error#{/ifError}">
        <label class="control-label" for="subject">Subject #{error 'subject' /}</label>
        <input type="text" name="subject" class="form-control" placeholder="Subject"/>
    </div>
    <div class="form-group #{ifError 'content'}has-error#{/ifError}">
        <label class="control-label" for="content">Content #{error 'content' /}</label>
        <textarea name="content" rows="8" class="form-control" id="contentText">${flash.content}</textarea>
    </div>
    <div class="btn-group">
        <button type="submit" class="btn btn-info">Create this topic</button>
        <a class="btn btn-primary" href="@{forum.Forums.show(forum.id)}">Cancel</a>
    </div>
</form>