#{extends 'main.html' /}
#{set title: topic.firstPost.subject /}
<div id="breadcrumb">
	<a href="@{forum.Forums.index}">Forums</a> → <a href="@{forum.Forums.show(topic.forum.id)}">${topic.forum.name}</a>
</div>

<h1 id="title">${topic.firstPost.subject}</h1>
<p class="light">
	<strong>
		#{pluralize size:topic.postsCount, word:'post' /} by #{pluralize size:topic.voicesCount, word:'user' /}
	</strong>
</p>

#{pagination page:page ?: 1, size:topic.postsCount /}

#{list items:topic.getPosts(page ?: 1, pageSize), as:'post'}
	#{showPost post /}
#{/list}

#{secure.check 'replyer'}
#{ifnot topic.locked}
	<p>
		<a class="action" href="@{forum.Topics.reply(topic.forum.id, topic.id)}">Reply</a>
	</p>
#{/ifnot}
#{/secure.check}

#{secure.check 'moderator'}
	<div id="youreadmin">Moderation options</div>

	<div class="box">
		<h2>Lock this topic</h2>
		<form action="@{forum.Topics.lock(topic.forum.id, topic.id)}" method="POST">
			<input type="submit" value="(Un)lock" id="lockIt" />
		</form>
		<h2>Hide this topic</h2>
		<form action="@{forum.Topics.hide(topic.forum.id, topic.id)}" method="POST">
			<input type="submit" value="(Un)hide" id="hideIt" />
		</form>
	</div>
#{/secure.check}
