#{extends 'main.html' /}
#{set title: topic.firstPost.subject /}
#{set 'subtitle'}
#{pluralize size:topic.postsCount, word:'post' /} by #{pluralize size:topic.voicesCount, word:'user' /}
#{/set}
<ol class="breadcrumb">
    <li><a href="@{forum.Forums.index}">Forums</a></li>
    <li><a href="@{forum.Forums.show(topic.forum.id)}">${topic.forum.name}</a></li>
    <li class="active">#{get 'title'/}</li>
</ol>

#{pagination page:page ?: 1, size:topic.postsCount /}

#{list items:topic.getPosts(page ?: 1, pageSize), as:'post'}
	#{showPost post /}
#{/list}

#{secure.check 'replyer'}
#{ifnot topic.locked}
<a class="btn btn-info" href="@{forum.Topics.reply(topic.forum.id, topic.id)}">Reply</a>
#{/ifnot}
#{/secure.check}

#{secure.check 'moderator'}
<a class="btn btn-danger" href="@{forum.Topics.lock(topic.forum.id, topic.id)}">(Un)lock</a>
<a class="btn btn-danger" href="@{forum.Topics.hide(topic.forum.id, topic.id)}">(Un)hide</a>
#{/secure.check}
