#topics-list .infos {
	width: 20%;
}

#topics-list .infos.count {
	width: 3%;
	text-align: center;
}

.post {
	margin-top: 5px;
}

.news {
	margin-top: 5px;
	margin-right: 200px;
}

.post .infos {
	padding: 10px 0;
	font-size: 90%;
	color: #333;
	width: 13%;
	float: left;
}

.post .infos a {
	display: block;
	font-size: 130%;
	margin: 5px 0 0 0;
}

.post .content {
	margin-left: 15%;
	padding: 10px;
	background: #EEEEEE;
	min-height: 40px;
	-moz-border-radius: 12px;
	position: relative;
}

.news .content {
	padding: 10px;
	background: #EEEEEE;
	min-height: 40px;
	-moz-border-radius: 12px;
}

hr.nextPost {
	clear: both;
	visibility: hidden;
	margin-bottom: 10px;
}

hr.nextNews {
	visibility: hidden;
	margin-bottom: 10px;
}

.arrow {
	background: url(../images/forum/arrow.png);
	width: 24px;
	height: 41px;
	position: absolute;
	left: -24px;
	top: 0;
}

.attachment {
	background: url(../images/forum/paperclip.png);
	background-repeat: no-repeat;
	padding-left: 16px;
	margin-top: 8px;
}

.postedIn {
	color: #333;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #999;
}
