#{extends 'main.html' /}
#{set title: 'HTML5 and WebGL' /}
#{set subtitle: 'Demos of these two amazing technologies'/}
<div class="well well-sm">
You need a <a href="http://en.wikipedia.org/wiki/WebGL#Implementation">recent browser</a> to visualize these pages, as well as up-to-date video drivers.<br/>
Google Chrome shows the best performances.
</div>
<div class="media">
	<a class="pull-left" href="@{Html5.life}">
		<img class="media-object" src="/public/html5/life.png" alt="canvas" width="133" height="100">
	</a>
	<div class="media-body">
		<h3 class="media-heading">Game of life</h3>
		A conway's game of life using HTML5 canvas and javascript.
	</div>
</div>
<div class="media">
	<a class="pull-left" href="@{Html5.mandelbrot}">
		<img class="media-object" src="/public/html5/mandelbrot.png" alt="webgl" width="133" height="100">
	</a>
	<div class="media-body">
		<h3 class="media-heading">Mandelbrot fractal</h3>
		A mandelbrot fractal rendering using WebGL's pixel shader. <a href="https://www.google.com/chrome">Google Chrome</a> is strongly recommended.
	</div>
</div>