<div class="panel panel-default">
    <div class="panel-heading">
        <span class="pull-right">${_arg.postedAt.format('MM/dd, yyyy hh:mma')}</span>
        <a href="@{forum.Users.show(_arg.postedBy.id)}">${_arg.postedBy.name}</a>
        #{pluralize size:_arg.postedBy.postsCount, word:'post' /}
    </div>
    <div class="panel-body">
        #{if _showTopic}
        Posted in <a href="@{forum.Topics.show(_caller.post.topic.forum.id, _caller.post.topic.id)}">${_caller.post.topic.forum.name} - ${_caller.post.subject}</a>
        #{/if}
        ${_arg.content.nl2br().raw()}
        #{attachments _arg.attachments /}
    </div>
</div>
