<table class="table">
        <tbody>
                #{if _arg}
                <tr><td align="center">${_arg.name}</td></tr>
                <tr><td>
                        <div style="float: left;"><img src="${_arg.image}" alt="mapIcon"></div>&nbsp;${_arg.width}x${_arg.height}<br>
                        &nbsp;Started: ${_arg.startedDate}, current: ${_arg.currentDate}<br>
                        &nbsp;${_arg.companiesCount}/${_arg.companiesCapacity}&nbsp;Companies, ${_arg.clientsCount}/${_arg.clientsCapacity}&nbsp;Clients
                </td></tr>
                <tr><td>${_arg.goal}</td></tr>
                <tr><td><a href="http://www.openttd.org/en/download-stable">OpenTTD ${_arg.revision}</a></td></tr>
                #{/if}
                #{else}
                <tr><td>Server is down :(</td></tr>
                #{/else}
        </tbody>
</table>