<table>
	<thead>
		<tr><th>OpenTTD server status</th></tr>
	</thead>
	<tbody>
		#{if _arg}
		<tr><td align="center">${_arg.name}</td></tr>
		<tr><td>
			<div style="float: left;"><img src="${_arg.image}" alt="mapIcon"></div>&nbsp;${_arg.width}x${_arg.height}<br>
			&nbsp;Started&nbsp;:&nbsp;${_arg.startedDate},&nbsp;current&nbsp;:&nbsp;${_arg.currentDate}<br>
			&nbsp;${_arg.companiesCount}/${_arg.companiesCapacity}&nbsp;Companies,&nbsp;${_arg.clientsCount}/${_arg.clientsCapacity}&nbsp;Clients
		</td></tr>
		<tr><td>${_arg.goal}</td></tr>
		<tr><td>OpenTTD ${_arg.revision}</td></tr>
		#{/if}
		#{else}
		<tr><td>Server is down :(</td></tr>
		#{/else}
	</tbody>
</table>
