#{extends 'main.html' /}
#{set title: 'OpenTTD server' /}
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-2">
        #{ingameLogin connectedUser /}
        #{miniLeaderBoard playerScores /}
        #{secure.check 'moderator'}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Moderation options</h3>
            </div>
            <div class="panel-body">
                <p>Artic Server</p>
                <div class="btn-group">
                    <a class="btn btn-default" href="@{openttd.Openttd.start(3)}">Start</a>
                    <a class="btn btn-default" href="@{openttd.Openttd.stop(3)}">Stop</a>
                </div>
                <p>Desertic Server</p>
                <div class="btn-group">
                    <a class="btn btn-default" href="@{openttd.Openttd.start(4)}">Start</a>
                    <a class="btn btn-default" href="@{openttd.Openttd.stop(4)}">Stop</a>
                </div>
                <p>High Speed Server</p>
                <div class="btn-group">
                    <a class="btn btn-default" href="@{openttd.Openttd.start(1)}">Start</a>
                    <a class="btn btn-default" href="@{openttd.Openttd.stop(1)}">Stop</a>
                </div>
                <p>Steam Server</p>
                <div class="btn-group">
                    <a class="btn btn-default" href="@{openttd.Openttd.start(5)}">Start</a>
                    <a class="btn btn-default" href="@{openttd.Openttd.stop(5)}">Stop</a>
                </div>
                <p>Toyland Server</p>
                <div class="btn-group">
                    <a class="btn btn-default" href="@{openttd.Openttd.start(2)}">Start</a>
                    <a class="btn btn-default" href="@{openttd.Openttd.stop(2)}">Stop</a>
                </div>
            </div>
        </div>
        #{/secure.check}
    </div><!--/span-->
    <div class="col-xs-12 col-sm-8 col-md-10">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">OpenTTD artic server status</h3>
                    </div>
                    #{showOpenTTDStatus articStatus /}
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">OpenTTD desertic server status</h3>
                    </div>
                    #{showOpenTTDStatus deserticStatus /}
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">OpenTTD high speed server status</h3>
                    </div>
                    #{showOpenTTDStatus highSpeedStatus /}
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">OpenTTD steam server status</h3>
                    </div>
                    #{showOpenTTDStatus steamStatus /}
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">OpenTTD toyland server status</h3>
                    </div>
                    #{showOpenTTDStatus toylandStatus /}
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Recent games ...</h3>
                    </div>
                    #{showRecentGames lastPlayedGames /}
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Best games on <img src="/images/openttd/artic_train.gif" alt="artic scenario" class="train_icon"> Artic</h3>
                    </div>
                    #{showBestGames bestArticGames /}
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Best games on <img src="/images/openttd/desertic_train.gif" alt="desertic scenario" class="train_icon"> Desertic</h3>
                    </div>
                    #{showBestGames bestDeserticGames /}
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Best games on <img src="/images/openttd/high_speed_train.gif" alt="high speed scenario" class="train_icon"> High Speed</h3>
                    </div>
                    #{showBestGames bestHighSpeedGames /}
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Best games on <img src="/images/openttd/steam_train.gif" alt="steam scenario" class="train_icon"> Steam</h3>
                    </div>
                    #{showBestGames bestSteamGames /}
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Best games on <img src="/images/openttd/toyland_train.gif" alt="toyland scenario" class="train_icon"> Toyland</h3>
                    </div>
                    #{showBestGames bestToylandGames /}
                </div>
            </div>
        </div>
	</div>		
</div>
