#{extends 'main.html' /}
#{set title: 'OpenTTD server' /}
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">
        #{ingameLogin connectedUser /}
        #{miniLeaderBoard playerScores /}
        #{secure.check 'moderator'}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Moderation options</h3>
            </div>
            <div class="panel-body">
                <p>OpenTTD Server</p>
                <div class="btn-group">
                    <a class="btn btn-default" href="@{openttd.Openttd.start()}">Start</a>
                    <a class="btn btn-default" href="@{openttd.Openttd.stop()}">Stop</a>
                </div>
            </div>
        </div>
        #{/secure.check}
    </div><!--/span-->
    <div class="col-xs-12 col-sm-8 col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">OpenTTD server status</h3>
			</div>
			#{showOpenTTDStatus openTTDStatus /}
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Recent games ...</h3>
			</div>
			#{showRecentGames lastPlayedGames /}
		</div>
	</div>		
</div>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Best games on <img src="/images/openttd/artic_train.gif" alt="artic scenario" class="train_icon"> Artic</h3>
			</div>
			#{showBestGames bestArticGames /}
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Best games on <img src="/images/openttd/desertic_train.gif" alt="desertic scenario" class="train_icon"> Desertic</h3>
			</div>
			#{showBestGames bestDeserticGames /}
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Best games on <img src="/images/openttd/high_speed_train.gif" alt="high speed scenario" class="train_icon"> High Speed</h3>
			</div>
			#{showBestGames bestHighSpeedGames /}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Best games on <img src="/images/openttd/steam_train.gif" alt="steam scenario" class="train_icon"> Steam</h3>
			</div>
			#{showBestGames bestSteamGames /}
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Best games on <img src="/images/openttd/toyland_train.gif" alt="toyland scenario" class="train_icon"> Toyland</h3>
			</div>
			#{showBestGames bestToylandGames /}
		</div>
	</div>
</div>
