#{extends 'main.html' /}
#{set title: user.name/}
#{set subtitle: 'Inbox'/}

<h1 id="title">${user.name}</h1>
<p class="light">
	<strong>Inbox</strong>
</p>

<table>
	<thead>
		<tr>
			<th class="main">From</th>
			<th class="main">Subject</th>
			<th class="infos">Since</th>
		</tr>
	</thead>
	<tbody>
#{list items:messages, as:'message'}
		<tr>
			<td class="main">${message.from.name}</td>
			<td class="main">${message.subject}</td>
			<td class="infos">${message.at.since()}</td>
		</tr>
#{/list}
	</tbody>
</table>
